reports/*
01_notebooks/data/*
01_notebooks/.ipynb_checkpoints/*
02_rgb_d/*.pyc
02_rgb_d/data/*
02_rgb_d/board/*
02_rgb_d/__pycache__/*
03_visual_planner/*.pyc
03_visual_planner/*.csv
03_visual_planner/__pycache__/*
04_visual_rl/*.pyc
04_visual_rl/__pycache__/*
05_final_project/*.pyc
05_final_project/DDQN_lr_0.00001/*
05_final_project/DDQN_lr_0.0001/*
05_final_project/DQN_lr_0.00001/*
